*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content{
    position: relative;
}
.content h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}

.content h2:nth-child(1)
{
    color: transparent;
   animation:animate 4s ease-in-out infinite;
    
}
@keyframes animate{
    0%, 100%{clip-path: polygon(0% 55%, 7% 56%, 12% 59%, 18% 61%, 24% 63%, 29% 63%, 35% 64%, 42% 61%, 48% 57%, 53% 53%, 58% 51%, 65% 50%, 73% 55%, 78% 60%, 84% 65%, 89% 69%, 94% 72%, 97% 76%);
    }
    50%{clip-path: polygon(0% 55%, 7% 56%, 12% 59%, 18% 61%, 24% 63%, 29% 63%, 35% 64%, 42% 61%, 48% 57%, 53% 53%, 58% 51%, 65% 50%, 73% 55%, 78% 60%, 84% 65%, 89% 69%, 94% 72%, 97% 76%);
  

    }
}
